html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0;
}

h2 {
    margin-top:0;
}

/* Style for all div */
div {
    font-family: Arial;
    font-size: 12px;
}

div a{
    color:blue;
}

.main {
    background-image: url(../images/tetris.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-color: yellow;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: blue;
    overflow: hidden;
    border-color: black;
    border-style: dotted;
}

.navbar a {
    font-family: Arial;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    float: left;
}

.navbar a:hover {
    background-color: lightgrey;
    color: black;
}

/* For aligning to the right */
.right{
    float:right;
}

/* For aligning to the center */
.center{
  text-align: center;
  clear:both;
}

/* Grey box that has splash page */
.splash-box {
    border-style: dotted;
    border-color: black;
    font-family: Arial;
    background-color: #c7c7c7;
    width: 350px;
    color: black;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 8px black;
}

/* Grey box that has registration page */
.registration-box {
  border-style: dotted;
  border-color: black;
  font-family: Arial;
  background-color: #c7c7c7;
  width: fit-content;
  color: black;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 8px black;
}   

/* For aligning items to left in registration box */
.regbox-left{
  float:left;
  padding-right: 30px;
}

  /* Size and padding for username and password fields */
  input[type=text], input[type=password] {
    width: 250px;
    padding: 10px;
    margin: 7px 0px;
    box-sizing: border-box;
  }

  /* Style for all buttons */
  button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Pseudo-class hover style for buttons */
  button:hover {
    opacity: 0.5;
  }
  
  /* Login cancel button */
  .register {
    width: auto;
    padding: 10px;
    background-color: tomato;
    border-radius: 7px;

  }
  
  /* Format avatar picture */
  .avatar-container {
    color: black;
    text-align: center;
    margin: 24px 0 12px 0;
    padding: 0px;
  }
  
  /* Avatar picture */
  .avatar {
    width: 110px;
    border-radius: 20%;
    border-style: solid;
    border-width: thick;
    border-color: rgba(0, 0, 0, 0.503);
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    color: black;
  }
  
  /* The "Forgot password" text */
  span.forgot-password {
    float: right;
    padding-top: 16px;
  }

  .register-button{
    width: 30%;
  }