@font-face {
  font-family: Pixel;
  src: url(../src/fonts/upheavtt.ttf) format("truetype");
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 30px;
  width: 30px;

}

/* The div that contains the tetris game */
.tetris {
  background-image: url(../images/tetris-grid-bg.png);
  background-size: auto 600px;
  height: 600px;
}